includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src/
#        - tests/

    level: 6

    noEnvCallsOutsideOfConfig: false

    ignoreErrors:
        -
            message: '#Trait .+ is used zero times and is not analysed.#'
            paths:
                - '*/Bundles/Auth/AuthorizedRequest.php'
                - '*/Bundles/ValueObject/ParseValueObject.php'
                - '*/Repository/UseRepository.php'
