includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src/
        - tests/

    # Level 9 is the highest level
    level: 5

    excludePaths:
#        - packages/*/*/tests/**
#
#    checkMissingIterableValueType: false
